/* background gif */
.bgif
{
    background-image: url("https://media.giphy.com/media/wPfjALm0Xk43C/giphy.gif");
    background-repeat: repeat-x;
    background-size: 200px 130px;
}

/* 1. HOME PAGE */
.welcome_message
{
    text-align: right;
    margin-right: 30px;
    font-family: monospace;
    margin-top: 80px;
    font-size: 1.5em;
    color:#FECF11;
}

.lastname_pinyin
{
    text-align: left;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 30pt;
    font-family: "Courier New", monospace, sans-serif;
    color:#FE5911;
}

.firstname_pinyin
{
    text-align: left;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 30pt;
    font-family: "Courier New", monospace, sans-serif;
    color:#FEB711;
}

.name_character
{
    text-align: right;
    margin-right: 500px;
    margin-top: 150px;
    font-size: 10pt;
    font-family: "Courier New", monospace, sans-serif;
    color:#C8D2D6;
}

.name_use
{
    text-align: left;
    margin-left: 300px;
    margin-top: 10px;
    font-size: 18pt;
    font-family: "Courier New", monospace, sans-serif;
    color:#C8D2D6;
}

.lastnameNmore
{
    text-align: left;
    margin-left: 420px;
    font-size: 12pt;
    margin-top: 50px;
    padding: 15px;
    font-family: "Courier New", monospace, sans-serif;
    color:#FE5911;
}

.firstnameNmore
{
    text-align: left;
    margin-left: 420px;
    font-size: 12pt;
    margin-top: 50px;
    padding: 15px;
    font-family: "Courier New", monospace, sans-serif;
    color:#FEB711;
}

.fallpicture
{
    text-align: right;
    margin-right: 500px;
    margin-top: 150px;
    color:#C8D2D6;
}

.homepicture
{
    text-align: right;
    margin-right: 220px;
    margin-top: 150px;
    color:#8BCBE5;
}

.footnote
{
    text-align: center;
    margin: 80px;
    font-family: "Courier New", monospace, sans-serif;
    font-size: 10pt;
    color: #C8D2D6;
}

.sm-tangerine
{
    font-size: 7pt;
    vertical-align: middle;
    line-height: 2;
}

.lg-tangerine
{
    font-size: 12pt;
    vertical-align: middle;
    line-height: 2;
}

.logo
{
    font-family:"Optima", sans-serif;
    font-size: 15pt;
}

/* 2. PROFILE PAGE */


/* 3. WORKS PAGE */
.wrapper
{
    display: flex;
    width: 230px;
    align-items: stretch;
    margin-top: 50px;
    margin-left: 45px;
    padding:10px;
    border:solid;
    border-width: 2px;
    border-color:#AFB1B0;
}

.submenu_title
{
  font-family: "Gill Sans", sans-serif;
  font-size: 20pt;
  color:#FF3333;
}

.submenu_subtitle
{
  font-family: "Gill Sans", sans-serif;
  font-size: 16pt;
  color:#A1C9FA;
  margin-top:10px;
}

.submenu_listing
{
  font-family:monospace, sans-serif;
  font-size: 12pt;
  color: #F8D4AC;
}

.submenu_item
{
  font-family:monospace, sans-serif;
  font-size: 12pt;
  margin-left: 40px;
  color: #EE7CF6;
}

a.submenu:hover{
  background-color: #FF0318;
  color:white;
}

a.submenu:visited{
  color:#BBFD77;
}

.workfile{
  display: flex;
  width: 80%;
  align-items: stretch;
  margin-top: 50px;
  margin-left: 20px;
  padding:10px;
  border:solid;
  border-width: 2px;
  border-color:#AFB1B0;
}

.content_title{
  font-family: "Gill Sans", sans-serif;
  font-size: 16pt;
  color:#A1C9FA;
  margin-top:70px;
}

.content_description{
  font-family: monospace, sans-serif;
  font-size: 11pt;
  color:black;
  margin-top:50px;
}




















/* OLD ONES */

header
{
    text-align: right;
    margin-right: 30px;
    font-family: cochin;
    margin-top: 80px;
    font-size: 1.5em;
    color:#FECF11;
}

.subtitle
{
    text-align: right;
    margin-right: 30px;
    font-family: cochin;
    margin-top: 80px;
    font-size: 1.3em;
    color:#7ED5FF;
}

/* orange-red-colored title, left-aligned */
h1
{
    text-align: left;
    margin-left: 60px;
    margin-top: 10px;
    font-family: cochin;
    color:#FE5911;
}

/* yellow-colored title, left-aligned */
h2
{
    text-align: left;
    margin-left: 60px;
    margin-top: 10px;
    font-family: cochin;
    color:#FEB711;
}

h3
{
    margin-left: 5px;
    margin-top: 57px;
    font-size: 1.2em;
    color:#4460C0;
}

h4
{
    text-decoration: underline;
    font-size: 0.8em;
    margin-top: 80px;
    margin-left: 20px;
}

/*grey-colored small-sized text, left-aligned, often put after sub-section's headings */
.text1
{
    text-align: left;
    margin-left: 200px;
    margin-top: 10px;
    font-family: cochin;
    color:#FE5911;
}

/* compared to text1, farther from left, but still on the left side */
.text2
{
    text-align: left;
    margin-left: 300px;
    margin-top: 10px;
    color:#C8D2D6;
}

/* grey, closest to left*/
.text5
{
    text-align: left;
    margin-left: 20px;
    margin-top: 50px;
    color:#C8D2D6;
}

.text6
{
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
    color:#C8D2D6;
}

/* compared to text2, farther from left, but still on the left side */
.lefttext
{
    text-align: left;
    margin-left: 420px;
    font-size: 1em;
    margin-top: 80px;
    padding: 15px;
    font-family: cochin;
}

/* centerred text */
.text3
{
    text-align:center;
    margin-left: 420px;
    padding: 65px;
    font-family: cochin;
}

/* right side text */
.text4
{
    text-align: left;
    margin-right: 150px;
    margin-top: 10px;
    color:#C8D2D6;
}

/* dashed foot notes */
.dashed
{
    text-align: center;
    border-style: dashed;
    border-width: 2px;
    border-color: #FDEDEC;
    margin: 80px;
}

.simpletext
{
    text-decoration: underline;
    font-size: 1.1em;
    margin-top: 80px;
    margin-left: 20px;
}
